<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mazhanghua.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
      <preference name="AndroidWindowSplashScreenAnimationDuration" value="90000"/>
      <preference name="AndroidWindowSplashScreenBackground" value="#facfac" />
      <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#f22f22" />
<!--        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/ic_cdv_splashscreen.xml" />-->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
<!--        <preference name="AndroidWindowSplashScreenBrandingImage" value="res/icon/android/ldpi.png" />-->
        <icon monochrome="res/icon/android/ldpi.png" background="res/icon/android/ldpi.png" density="ldpi" foreground="res/icon/android/ldpi.png" />
        <icon monochrome="res/icon/android/mdpi.png" background="res/icon/android/mdpi.png" density="mdpi" foreground="res/icon/android/mdpi.png" />
        <icon monochrome="res/icon/android/xhdpi.png" background="res/icon/android/xhdpi.png" density="hdpi" foreground="res/icon/android/hdpi.png" />
        <icon monochrome="res/icon/android/xhdpi.png" background="res/icon/android/xhdpi.png" density="xhdpi" foreground="res/icon/android/xhdpi.png" />
        <icon monochrome="res/icon/android/xxhdpi.png" background="res/icon/android/xxhdpi.png" density="xxhdpi" foreground="res/icon/android/xxhdpi.png" />
        <icon monochrome="res/icon/android/xxxhdpi.png" background="res/icon/android/xxxhdpi.png" density="xxxhdpi" foreground="res/icon/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
    </platform>
</widget>
